/* Adds formatting to entire page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Adds bacground color to entire body*/
body {
    background-color: #d9dcd6;
}

/*Adds formatting to the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Adds formatting to Horiseon*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*Adds formatting to links at top of page*/
.header section {
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Aligns links at top of page right and horizontally*/
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Font color of links at top of page*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Paragraph font*/
p {
    font-size: 16px;
}

/* adds background image to page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* floats seo adn smm image to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*floats orm image right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* formats content section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*formats background of benefits section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*formats benefits section*/
.benefits section{
    margin-bottom: 32px;
    color: #ffffff;
}
/*applies formatting to h3*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*images in benefits*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*applies formatting to benefits section*/
.content section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*maintains height of content images*/
.content img {
    max-height: 200px;
}
/*formats h2*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*formats footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*formats copyright*/
.footer h2 {
    font-size: 20px;
}
